<h2>Add new User</h2>

<div>
  <form (submit)="onSubmit($event)">
    <div class="form-group">
      <label for="firstname">First Name</label>
      <input type="text"
             id="firstname"
             name="firstname"
             [(ngModel)]="user.firstname"
             class="form-control"
             required>
    </div>
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="text"
             id="lastname"
             name="lastname"
             [(ngModel)]="user.lastname"
             class="form-control"
             required>
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <input type="number"
             id="gender"
             name="gender"
             [(ngModel)]="user.gender"
             class="form-control"
             required>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text"
             id="username"
             name="username"
             [(ngModel)]="user.username"
             class="form-control"
             required>
    </div>
    <div class="form-group">
      <label for="emailaddress">E-Mail</label>
      <input type="text"
             id="emailaddress"
             name="emailaddress"
             [(ngModel)]="user.emailaddress"
             class="form-control"
             required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password"
             id="password"
             name="password"
             [(ngModel)]="user.password"
             class="form-control"
             required>
    </div>
    <div class="form-group">
      <label for="admin">Admin</label>
      <input type="number"
             id="admin"
             name="admin"
             [(ngModel)]="user.admin"
             class="form-control"
             required>
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="address"
             id="address"
             name="address"
             [(ngModel)]="user.address"
             class="form-control"
             required>
    </div>
    <div class="form-group">
      <label for="pictureurl">Picture URL</label>
      <input type="text"
             id="pictureurl"
             name="pictureurl"
             [(ngModel)]="user.pictureurl"
             class="form-control"
             required>
    </div>
    <button class="btn btn-primary"
            type="submit">
      Add
    </button>

  </form>
</div>
