extends layout

block content
  main(role='main')
    .container
      //- About
      .row
        .col-12
          h1#content.bd-title About
          p.bd-lead Learn more about the BETAG team maintaining Entryway, how and why the project started, and how to get involved.
      
      //- Team
      .row
        .col-12
          h2 Team
          p
            | Entryway is maintained by a 
            a(href="https://github.com/JDossz/B2B-webshop") small team of developers
            |  on GitHub. We’re actively looking to grow this team and would love to hear from you if you’re excited about CSS at scale, writing and maintaining vanilla JavaScript plugins, and improving build tooling processes for frontend code.
      
      //- Personal sections
      hr
      .container
        .row.portfolio#dorka
          .col-4
            img(src="/images/portfolio/JuhaszDorottya.JPG")
          .col-8
            .row
              h4 Juhász Dorka
            .row
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum eos laboriosam iure accusantium aut asperiores expedita commodi iusto consequuntur sunt. Quia cum magnam eligendi omnis fuga aliquid aliquam cupiditate distinctio.
      hr
      .container
        .row.portfolio#szilvi
          .col-4
            img(src="/images/portfolio/KapuvariSzilvia.JPG")
          .col-8
            .row
              h4 Kapuvári Szilvi
            .row
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum eos laboriosam iure accusantium aut asperiores expedita commodi iusto consequuntur sunt. Quia cum magnam eligendi omnis fuga aliquid aliquam cupiditate distinctio.
      hr
      .container
        .row.portfolio#olah
          .col-4
            img(src="/images/portfolio/OlahDaniel.JPG")
          .col-8
            .row
              h4 Oláh Dániel
            .row
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum eos laboriosam iure accusantium aut asperiores expedita commodi iusto consequuntur sunt. Quia cum magnam eligendi omnis fuga aliquid aliquam cupiditate distinctio.
      hr
      .container
        .row.portfolio#sari
          .col-4
            img(src="/images/portfolio/PalSara-1.jpg")
          .col-8
            .row
              h4 Pál Sári
            .row
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, ipsum magnam veritatis natus, repudiandae quod perspiciatis quis laborum provident accusamus nihil nesciunt sequi labore veniam unde aperiam autem omnis dignissimos?
      hr
      .container
        .row.portfolio#ago
          .col-4
            img(src="/images/portfolio/ZajkasAgoston.JPG")
          .col-8
            .row
              h4 Zajkás Ágoston
            .row
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum eos laboriosam iure accusantium aut asperiores expedita commodi iusto consequuntur sunt. Quia cum magnam eligendi omnis fuga aliquid aliquam cupiditate distinctio.
      hr

      //- History
      .row
        .col-12
          h2#history History
          p

      //- Get involved
      .row
        .col-12
          h2#history Get involved
          p
            | Get involved with Entryway development by 
            a(href="https://github.com/JDossz/B2B-webshop") opening an issue
            |  or submitting a pull request. Read our 
            a(href="https://github.com/twbs/bootstrap/blob/v4.3.1/.github/CONTRIBUTING.md") contributing guidelines
            |  for information on how we develop.

