extends layout

block content
  main(role='main')
    .container-fluid
      .row
        header
          video(playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop")
            source(src="/videos/AboutPage_Final.mp4" type="video/mp4")
          .container.align-items-center.text-white
            .row
              .col-12.mt-4
                h1.text-center Our mission is to help people achieve their goals, bring creative projects to life
            .row
              .col-7.aboutus-greencol
                p Entryway helps scientists, artists, musicians, filmmakers, designers, and other creators find the resources and support they need to make their ideas a reality. To date, tens of thousands of creative projects — big and small — have come to life with the support of the BETAG community.
        //- .col-12
        //-   p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque harum sint laborum, sunt, praesentium exercitationem odit totam quasi repellendus aut adipisci ipsum. Ratione rerum cumque aut commodi eum in maxime! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, commodi a. Fugiat distinctio atque error harum odio, tempora similique cumque ex molestias commodi veritatis vel asperiores maxime! Temporibus, veniam deserunt! Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse molestias optio sint excepturi tempore, quas totam veniam quam ea sed dolore officiis eius exercitationem voluptas quod omnis ratione nostrum laboriosam! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta corrupti quas voluptatum aut excepturi? Consequuntur rem, debitis fugit eaque dolor atque. Vel ipsum ullam quae corporis enim quis odit eveniet.
      hr.featurette-divider
      
      //- Team
    .container
      .row
        .col-12
          h2 Team
          p
            | Entryway is maintained by a 
            a(href="https://github.com/JDossz/B2B-webshop") small team of developers
            |  on GitHub. We’re actively looking to grow this team and would love to hear from you if you’re excited about CSS at scale, writing and maintaining vanilla JavaScript plugins, and improving build tooling processes for frontend code.
      
      //- Personal sections
      hr
      .container
        .row.portfolio#dorka
          .col-4
            img(src="/images/portfolio/JuhaszDorottya.JPG")
          .col-8
            .row
              h4 Juhász Dorka
            .row
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum eos laboriosam iure accusantium aut asperiores expedita commodi iusto consequuntur sunt. Quia cum magnam eligendi omnis fuga aliquid aliquam cupiditate distinctio.
      hr
      .container
        .row.portfolio#szilvi
          .col-4
            img(src="/images/portfolio/KapuvariSzilvia.JPG")
          .col-8
            .row
              h4 Kapuvári Szilvi
            .row
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum eos laboriosam iure accusantium aut asperiores expedita commodi iusto consequuntur sunt. Quia cum magnam eligendi omnis fuga aliquid aliquam cupiditate distinctio.
      hr
      .container
        .row.portfolio#olah
          .col-4
            img(src="/images/portfolio/OlahDaniel.JPG")
          .col-8
            .row
              h4 Oláh Dániel
            .row
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum eos laboriosam iure accusantium aut asperiores expedita commodi iusto consequuntur sunt. Quia cum magnam eligendi omnis fuga aliquid aliquam cupiditate distinctio.
      hr
      .container
        .row.portfolio#sari
          .col-4
            img(src="/images/portfolio/PalSara-1.jpg")
          .col-8
            .row
              h4 Pál Sári
            .row
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, ipsum magnam veritatis natus, repudiandae quod perspiciatis quis laborum provident accusamus nihil nesciunt sequi labore veniam unde aperiam autem omnis dignissimos?
      hr
      .container
        .row.portfolio#ago
          .col-4
            img(src="/images/portfolio/ZajkasAgoston.JPG")
          .col-8
            .row
              h4 Zajkás Ágoston
            .row
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum eos laboriosam iure accusantium aut asperiores expedita commodi iusto consequuntur sunt. Quia cum magnam eligendi omnis fuga aliquid aliquam cupiditate distinctio.
      hr

      //- History
      .row
        .col-12
          h2#history History
          p

      //- Get involved
      .row
        .col-12.mb-5
          h2#history Get involved
          p
            | Get involved with Entryway development by 
            a(href="https://github.com/JDossz/B2B-webshop") opening an issue
            |  or submitting a pull request. Read our 
            a(href="https://github.com/twbs/bootstrap/blob/v4.3.1/.github/CONTRIBUTING.md") contributing guidelines
            |  for information on how we develop.

