doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  meta(name='description', content='The is the BETAG TEAM project funding page')
  meta(name='author', content='BETAG TEAM')
  title Entryway - BETAG Team
  base(href='http://localhost:3000/admin')
  link(rel='icon', type='image/x-icon', href='favicon.ico')
app-root
script(src='./angular-webshop/polyfills-es5.js', nomodule='', defer='')
script(src='./angular-webshop/polyfills-es2015.js', type='module')
script(src='./angular-webshop/styles-es2015.js', type='module')
script(src='./angular-webshop/styles-es5.js', nomodule='', defer='')
script(src='./angular-webshop/runtime-es2015.js', type='module')
script(src='./angular-webshop/vendor-es2015.js', type='module')
script(src='./angular-webshop/main-es2015.js', type='module')
script(src='./angular-webshop/runtime-es5.js', nomodule='', defer='')
script(src='./angular-webshop/vendor-es5.js', nomodule='', defer='')
script(src='./angular-webshop/main-es5.js', nomodule='', defer='')
