extends layout

block content
  main(role='main')
    // carousel for recommended projects
    #indexCarousel.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#indexCarousel' data-slide-to='0')
        li(data-target='#indexCarousel' data-slide-to='1')
        li(data-target='#indexCarousel' data-slide-to='2')
      .carousel-inner

        .carousel-item.active
          svg.bd-placeholder-img(width='100%' height='100%' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img')
            rect(width='100%' height='100%' fill='#777')
          .container
            .carousel-caption.text-left
              h1 Project 1 title
              p
                | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              p
                a.btn.btn-lg.btn-primary(href='#' role='button') Learn more

        .carousel-item
          svg.bd-placeholder-img(width='100%' height='100%' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img')
            rect(width='100%' height='100%' fill='#777')
          .container
            .carousel-caption
              h1 Project 2 title
              p
                | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              p
                a.btn.btn-lg.btn-primary(href='#' role='button') Learn more

        .carousel-item
          svg.bd-placeholder-img(width='100%' height='100%' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img')
            rect(width='100%' height='100%' fill='#777')
          .container
            .carousel-caption.text-right
              h1 Project 3 title
              p
                | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              p
                a.btn.btn-lg.btn-primary(href='#' role='button') Learn more

      a.carousel-control-prev(href='#indexCarousel' role='button' data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#indexCarousel' role='button' data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next

    // what this page is about
    .container
      .row
        .col
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque harum sint laborum, sunt, praesentium exercitationem odit totam quasi repellendus aut adipisci ipsum. Ratione rerum cumque aut commodi eum in maxime!

    // the 3 most generous funders of the month
    .container.marketing
      .row
        .col-lg-4
          svg.bd-placeholder-img.rounded-circle(width='140' height='140' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 140x140')
            title Placeholder
            rect(width='100%' height='100%' fill='#777')
            text(x='50%' y='50%' fill='#777' dy='.3em') 140x140
          h2 User 1
          p
            | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
          p
            a.btn.btn-secondary(href='#' role='button') View details &raquo;

        .col-lg-4
          svg.bd-placeholder-img.rounded-circle(width='140' height='140' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 140x140')
            title Placeholder
            rect(width='100%' height='100%' fill='#777')
            text(x='50%' y='50%' fill='#777' dy='.3em') 140x140
          h2 User 2
          p
            | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
          p
            a.btn.btn-secondary(href='#' role='button') View details &raquo;

        .col-lg-4
          svg.bd-placeholder-img.rounded-circle(width='140' height='140' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 140x140')
            title Placeholder
            rect(width='100%' height='100%' fill='#777')
            text(x='50%' y='50%' fill='#777' dy='.3em') 140x140
          h2 User 3
          p
            | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          p
            a.btn.btn-secondary(href='#' role='button') View details &raquo;
      hr.featurette-divider

      // hot projects
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | First featurette heading. 
            span.text-muted It&rsquo;ll blow your mind.
          p.lead
            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        .col-md-5
          svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width='500' height='500' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 500x500')
            title Placeholder
            rect(width='100%' height='100%' fill='#eee')
            text(x='50%' y='50%' fill='#aaa' dy='.3em') 500x500
      hr.featurette-divider

      .row.featurette
        .col-md-7.order-md-2
          h2.featurette-heading
            | Oh yeah, it&rsquo;s that good. 
            span.text-muted See for yourself.
          p.lead
            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        .col-md-5.order-md-1
          svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width='500' height='500' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 500x500')
            title Placeholder
            rect(width='100%' height='100%' fill='#eee')
            text(x='50%' y='50%' fill='#aaa' dy='.3em') 500x500
      hr.featurette-divider
      
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | And lastly, this one. 
            span.text-muted Checkmate.
          p.lead
            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        .col-md-5
          svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width='500' height='500' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 500x500')
            title Placeholder
            rect(width='100%' height='100%' fill='#eee')
            text(x='50%' y='50%' fill='#aaa' dy='.3em') 500x500
      hr.featurette-divider

    // hírlevél feliratkozás
    .grid-container
      .py8.px0.px8-md.bg-white
        h3.type-21.type-24-md.type-28-lg.soft-black.text-center.cooper-light Discover the best and brightest projects on BETAG.
        p.type-14.type-18-md.soft-black.text-center.my4.cooper-light Sign up to receive our weekly Projects We Love newsletter.
        .max-w100.mx-auto
          form
            .flex.flex-column.flex-row-sm.items-stretch
              .grow-1.mb2.mb0-sm.mr3-sm.mr0
                .relative.smart-input-group
                  input#newsletter-signup-input.atomic-text-input(placeholder="Enter email address" type="text" value="")
                .relative.w100p
                  .h5.clip.absolute.l0.t0.w100p
                    .absolute.l0.t1.w100p
              button.bttn.bttn-medium.bttn-black.keyboard-focusable.maison-book(type="submit") Subscribe
