extends layout

block content
  .container
   .row
        .col-4.offset-4
          form.form-signin(action="/login" method="post")
            .card
              .card-header.bg-primary
                h3.mb-3 Please sign in
              .card-body
                label.sr-only(for="inputEmail") Email address
                input#inputEmail.form-control(type="email" name="email" placeholder="Email" required)
                label.sr-only(for="inputPassword") Password
                input#inputPassword.form-control(type="password" name="password" placeholder="Password" required="")
                .checkbox.mb-2
                  label
                    input(type="checkbox" value="remember-me")
                    |  Remember me
                .danger.alert-danger #{wrong}
              .card-footer 
                button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in
                a.btn.btn-sm.btn-primary.btn-block(href='/register') Register
          p.mt-5.mb-3.text-muted &copy; BETAG TEAM 2019
