extends layout

block content

  .container.containerProjects
    .row
      .col-3
        .sidebar
          h1 Categories
          a.active(href="/projects/arts") Arts
          a(href="/projects/biology") Biology
          a(href="/projects/gender") Gender
          a(href="/projects/neurology") Neurology
          a(href="/projects/technology") Technology
          input.form-control(type='text', placeholder='Search..')
      .col-8
        each project in projects
          .card.mb-3(style='max-width: 850px;')
            .row.no-gutters
              .col-md-4
                img.card-img(src='http://www.ict-coherent.eu/coherent/wp-content/uploads/2015/10/project-motivation-img.jpg', alt='...')
              .col-md-8
                .card-body
                  h5.card-title #{project.title}
                  p.card-text #{project.shortd}
                  p.card-text
                    small.text-muted Last funded 3 mins ago
                  a.btn.btn-info(href=`/projects/${project.id}`) Show more!