extends layout

block content
  .container
    .row
      .col-6.offset-3.mb-5
        .card.mb-5
          .card-header.bg-primary
            h2.text-light Register
          .card-body
            form(method='post', action='/register/users')
              .form-group
                label(for='inputFirstName')
                  h5 Firstname
                input#inputFirstName.form-control(type='text',name='firstname', placeholder='Please enter your firstname', required)
              .form-group
                label(for='inputLastName')
                  h5 Lastname
                input#inputLastName.form-control(type='text',name='lastname', placeholder='Please enter your lastname', required)
              .form-group
                label(for='inputAddress')
                  h5 Address
                input#inputAddress.form-control(type='text',name='address', pattern='^\\d+\\s[A-z]+\\s[A-z]+',title='Must start with number(s), then at least two words. Something like : 61 Park Street, Camden, ME, 04843, US' placeholder='Please enter your address', required)
              .form-group
                label(for='inputUserName') 
                  h5 Username
                input#inputUserName.form-control(type='text',name='username', pattern='(?=.*[a-z]).{5,}',title='Must contain at least 5 or more characters', placeholder='Please enter your username',required)
              .form-group
                label(for='inputEmail4')
                  h5 Email address
                input#inputEmail4.form-control(type='email',name='emailaddress', placeholder='Please enter your email address', pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,}$", required)
                if wrong
                  p.text-danger #{wrong}
              .form-group
                label(for='inputPassword4')
                  h5 Password
                input#inputPassword4.form-control(type='password',name='password', placeholder='Please enter your password', pattern='(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}', title='Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters', required)
              .form-group.mt-4
                .form-check
                  input#gridCheck.form-check-input(type='checkbox')
                  label.form-check-label(for='gridCheck')
                    | Send me a weekly mix of handpicked projects, plus occasional Entryway news
              .form-group
                .form-check
                  input#gridCheck2.form-check-input(type='checkbox')
                  label.form-check-label(for='gridCheck2')
                    | Contact me about participating in Entryway research
              button.btn.btn-primary.btn-block.mt-4(type='submit') Create account