<div class="container">
  <div class="row">
    <div class="col-8 offset-2 mt-5 mb-5">
      <div class="card">
        <div class="card-header">
          <h3>Add new project!</h3>
        </div>
        <form action="http://localhost:3000/api/projects" method="post">
          <div class="card-body">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" placeholder="Title" class="form-control" (keyup)="onKey($event)" name="project.title"
                id="title" [(ngModel)]="newProject.title" required>
              <div class="text-danger" *ngIf="wrongTitle">This title already exists!</div>
            </div>
            <label for="seo">Seo</label>
            <input type="text" placeholder="Seo" class="form-control" name="newProject.seo" id="seo"
              [(ngModel)]="newProject.seo" disabled>
            <div class="form-group">
              <label for="institution">Institution</label>
              <input type="text" class="form-control" id="institution" name="project.institution"
                [(ngModel)]="newProject.institution" placeholder="Institution" required>
            </div>
            <div class="form-group">
              <label for="shortd">Short description</label>
              <textarea name="newProject.shortd" id="shortd" class="form-control" [(ngModel)]="newProject.shortd"
                rows="5" placeholder="Short description"></textarea>
            </div>
            <div class="form-group">
              <label for="longd">Long description</label>
              <textarea name="newProject.longd" id="longd" class="form-control" [(ngModel)]="newProject.longd" rows="10"
                placeholder="Long description"></textarea>
            </div>
            <div class="form-group">
              <label for="contact">Contact</label>
              <input type="text" class="form-control" id="contact" name="project.contact"
                [(ngModel)]="newProject.contact" placeholder="Contact" required>
            </div>
            <div class="form-group">
              <label for="categorySelect">Category</label>
              <select name="categorySelect" id="categorySelect" class="form-control"
                [(ngModel)]="newProject.categoryid">
                <option *ngFor="let category of categories.value" [value]="category.id">{{ category.category }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="goal">Goal</label>
              <input type="number" class="form-control" name="project.goal" id="goal" [(ngModel)]="newProject.goal"
                placeholder="Goal" required>
              <div class="text-danger" *ngIf="wrongAmmount">Please write a positive number!</div>
            </div>
            <div class="form-group">
              <label for="pictureUrl">Picture url</label>
              <input type="text" class="form-control" id="pictureUrl" name="project.pictureurl"
                [(ngModel)]="newProject.pictureurl" placeholder="Picture url" required>
            </div>
            <div class="form-group">
              <label for="link">Link</label>
              <input type="text" class="form-control" id="link" name="project.link" [(ngModel)]="newProject.link"
                placeholder="Link" required>
            </div>
            <div class="text-danger mb-3" *ngIf="missingData">{{missingData}}</div>
          </div>
          <div class="card-footer text-center">
            <button type="submit" class="btn btn-success" (click)="onCreate()">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
