<div class="container">
  <div class="row">
    <div class="col-8 offset-2 mt-5 mb-5">
      <div class="card">
        <div class="card-header">
          <h3>Edit this project!</h3>
        </div>
        <form action="http://localhost:3000/api/projects/{{project.seo}}" method="post">
          <div class="card-body">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" placeholder="Title" class="form-control" name="project.title" id="title"
                [(ngModel)]="project.title" disabled>
            </div>
            <div class="form-group">
              <label for="seo">Seo</label>
              <input type="text" class="form-control" placeholder="Seo" name="project.seo" id="seo"
                [(ngModel)]="project.seo" disabled>
            </div>
            <div class="form-group">
              <label for="institution">Institution</label>
              <input type="text" class="form-control" id="institution" name="project.institution"
                [(ngModel)]="project.institution" placeholder="Institution" required>
            </div>
            <div class="form-group">
              <label for="shortd">Short description</label>
              <textarea name="project.shortd" id="shortd" class="form-control" [(ngModel)]="project.shortd"  rows="5" placeholder="Short description"></textarea>
            </div>
            <div class="form-group">
              <label for="longd">Long description</label>
              <textarea name="project.longd" id="longd" class="form-control" [(ngModel)]="project.longd"  rows="10" placeholder="Long description"></textarea>
            </div>
            <div class="form-group">
              <label for="contact">Contact</label>
              <input type="text" class="form-control" id="contact" name="project.contact" [(ngModel)]="project.contact"
                placeholder="Contact" required>
            </div>
            <div class="form-group">
              <label for="categorySelect">Category</label>
              <select name="categorySelect" id="categorySelect" class="form-control" [(ngModel)]="project.categoryid">
                <option *ngFor="let category of categories.value" [value]="category.id">{{ category.category }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="goal">Goal</label>
              <input type="number" class="form-control" name="project.goal" id="goal" [(ngModel)]="project.goal"
                placeholder="Goal" required>
              <div class="text-danger" *ngIf="wrongAmmount">Please write a positive number!</div>
            </div>
            <div class="form-group">
              <label for="pictureUrl">Picture url</label>
              <input type="text" class="form-control" id="pictureUrl" name="project.pictureurl"
                [(ngModel)]="project.pictureurl" placeholder="Picture url" required>
            </div>
            <div class="form-group">
              <label for="link">Link</label>
              <input type="text" class="form-control" id="link" name="project.link" [(ngModel)]="project.link"
                placeholder="Link" required>
            </div>
            <div class="text-danger mb-3" *ngIf="missingData">{{missingData}}</div>
          </div>
          <div class="card-footer text-center">
            <button type="submit" class="btn btn-success" (click)="onUpdate()">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
