<div class="container">
  <div class="row mt-5 mb-2 ">
    <div class="col-6 offset-3">
      <a class="btn btn-outline-dark btn-block" routerLink="/category-add">Add new category</a>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6 offset-3">
      <input id="search" type="text" class="form-control " placeholder="Search..." [(ngModel)]="searchedPhrase">
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>#</th>
            <th>Category</th>
            <th>Details</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories|async |search:searchedPhrase">
            <td>{{category.id}}</td>
            <td>{{category.category}}</td>
            <td>{{category.details}}</td>
            <td>
              <div class="btn-group">
                <a routerLink="/category-edit/{{category.id}}" class="btn btn-info">Edit</a>
                <button (click)="onDelete(category.id)" class="btn btn-danger">Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
