<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-10 offset-1">
      <div class="card-group">
        <div class="card activeProjectCard" style="width: 10rem;">
          <div class="card-body activeProjectCardBody text-center">
            <h5 class="card-title">Show only the active projects</h5>
            <button class="btn btn-outline-dark" (click)="readActive()">Show</button>
          </div>
        </div>
        <div class="card allProjectCard" style="width: 10rem;">
          <div class="card-body text-center">
            <h5 class="card-title">Show all projects</h5>
            <button class="btn btn-outline-dark" (click)="readAll()">Show</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-6">
      <a class="btn btn-outline-dark btn-block" routerLink="/projectAdd">Add new project</a>
    </div>
    <div class="col-6">
      <input id="search" type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchedPhrase">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Seo</th>
            <th>Institution</th>
            <th>Shortd</th>
            <th>Longd</th>
            <th>Contact</th>
            <th>Category</th>
            <th>Donation</th>
            <th>Goal</th>
            <th>Balance</th>
            <th>Pictureurl</th>
            <th>Link</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr style="height: 50px; overflow:auto;" *ngFor="let project of projects|async |search:searchedPhrase">
            <td>{{project.id}}</td>
            <td>{{project.title}}</td>
            <td>{{project.seo}}</td>
            <td>{{project.institution}}</td>
            <td *ngIf="project.shortd.length > 100">{{project.shortd.substring(0, 100)}}...</td>
            <td *ngIf="project.shortd.length<100">{{project.shortd}}</td>
            <td *ngIf="project.longd.length > 100">{{project.longd.substring(0, 100)}}...</td>
            <td *ngIf="project.longd.length <100">{{project.longd}}</td>
            <td>{{project.contact}}</td>
            <td>{{project.category}}</td>
            <td>{{project.donation}}</td>
            <td>{{project.goal}}</td>
            <td>{{project.balance}}</td>
            <td>{{project.pictureurl}}</td>
            <td>{{project.link}}</td>
            <td>
              <div class="btn-group">
                <a routerLink="/projectEdit/{{project.seo}}" class="btn btn-info">Edit</a>
                <button (click)="onDelete(project.seo)" class="btn btn-danger">Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
