<div>
  <div>
    <div>
      <div style="display: block">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
      <button mat-button
              mat-raised-button
              color="primary"
              (click)="randomize()">Update</button>
    </div>
  </div>
</div>
<p>{{projects$ | async}}</p>
<!-- <tbody>
  <tr *ngFor="let project of projects$ | async">
    <td>{{project.id}}</td>
    <td>{{project.title}}</td>
    <td>{{project.seo}}</td>
    <td>{{project.institution}}</td>
    <td>{{project.shortd}}</td>
    <td>{{project.longd}}</td>
    <td>{{project.contact}}</td>
    <td>{{project.categoryid}}</td>
    <td>{{project.donation}}</td>
    <td>{{project.goal}}</td>
    <td>{{project.balance}}</td>
    <td>{{project.pictureurl}}</td>
    <td>{{project.link}}</td>
    <td>{{project.isactive}}</td> -->