body {
  background-color: #000;
}

#basketlink:hover {

}

#gradient
{
  width: 100%;
  height: 800px;
}

.image-section img {
  width: 100%;
  height: auto;
}

.main-secction {
  box-shadow: 10px 10px 10px;
}

.user-detail-row {
  margin:0px; 
}

.user-detail-section2 p {
  font-size:12px;
  padding: 0px;
  margin: 0px;
}

.user-detail-section2 {
  margin-top:10px;
}

.user-detail-section2 span {
  color:#7CBBC3;
  font-size: 20px;
}

.user-detail-section2 small {
  font-size:12px;
  color:#D3A86A;
}

.user-image {
  position: absolute;
  margin-top:-50px;
}

.user-image img {
  width: auto;
  height: 8rem;
}

.user-left-part {
  margin: 0px;
}

.user-profil-part {
  padding-bottom:30px;
  background-color:#FAFAFA;
}

.profile-right-section {
  padding: 20px 0px 10px 15px;
  background-color: #FFF;  
}

.profile-right-section-row {
  margin: 0px;
}

.profile-header-section1 h1 {
  font-size: 25px;
  margin: 0px;
}

.profile-header-section1 h5 {
  color: #0062CC;
}

.req-btn{
  height:30px;
  font-size:12px;
}
.profile-tag{
  padding: 10px;
  border:1px solid #F6F6F6;
}
.profile-tag p{
  font-size: 12px;
  color:black;
}
.profile-tag i{
  color:#ADADAD;
  font-size: 20px;
}
.image-right-part{
  background-color: #FCFCFC;
  margin: 0px;
  padding: 5px;
}
.img-main-rightPart{
  background-color: #FCFCFC;
  margin-top: auto;
}
.image-right-detail{
  padding: 0px;
}
.image-right-detail p{
  font-size: 12px;
}
.image-right-detail a:hover{
  text-decoration: none;
}
.image-right img{
  width: 100%;
}
.image-right-detail-section2{
  margin: 0px;
}
.image-right-detail-section2 p{
  color:#38ACDF;
  margin:0px;
}
.image-right-detail-section2 span{
  color:#7F7F7F;
}

.nav-link{
  font-size: 1.2em;    
}
