body {
  /* padding: 20px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a.np {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a.np:hover {
  background-color: #ddd;
  color: black;
}

footer {
  position: absolute;
  bottom: -2%;
  width: 100%;
  height: auto;
}

footer > .container {
  width: auto;
  height: auto;
  padding: 0 15px;
}

.aboutus-greencol {
  background-color: #0AC2C3;
  color: #FFF;
  font-family: 'Francois';
  font-size: 1.9em;
  padding: 2%;
  position: relative;
  top: 2.3em;
  left: 50%;
  z-index: 3;
}

.nav-link {
  font-size: 1.3em;
}

.next {
  background-color: #F9E6B2;
  color: #000;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

.portfolio img {
  max-width: 100%;
  height: auto;
}

.previous {
  background-color: #4CAF50;
  color: white;
}

#profile-pic {
  height: 2.2em;
}

.round {
  border-radius: 50%;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #fff;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 10px 10px 10px;
  margin-right: 60px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

#username {
  font-size: 1.5em;
  position: relative;
  top: 17%;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;
  width: 100%}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    width: 100%;
    height: auto;
    text-align: center;
    float: none;
  }
}

@font-face {
  font-family: 'Francois';
  src: url('/fonts/FrancoisOne.ttf');
}