<div class="container-fluid">
  <div class="row my-4 mx-3">

    <!--***Cards***-->

    <div class="col-3 mx-3 my-4 mx-auto">
      <div class="card"
           style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">All Orders</h5>
          <p class="card-text">{{countOrderList}}
          </p>
        </div>
      </div>
    </div>

    <div class="col-3 mx-3 my-4 mx-auto">
      <div class="card"
           style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Balance of Orders</h5>
          <p class="card-text"> Itt lesz a balance of orders
          </p>
        </div>
      </div>
    </div>

    <div class="col-3 mx-3 my-4 mx-auto">
      <div class="card"
           style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">All users</h5>
          <p class="card-text">103
          </p>
        </div>
      </div>
    </div>


    <!--***Tables***-->


    <!--Orders table-->
    <div class="col-12 my-3">
      <h1 class="text-center">Orders - basic</h1>
      <table class="table table-hover my-3">
        <thead>
          <tr>
            <th>ID</th>
            <th>UserID</th>
            <th>InsDate</th>
            <th>ProjectID</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orderList$ | async">
            <td>{{order.id}}</td>
            <td>{{order.userid}}</td>
            <td>{{order.insdate}}</td>
            <td>{{order.projectid}}</td>
            <td>{{order.projectprice}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>


    <!--Orders table-->
    <div class="col-12 my-3">
      <h1 class="text-center">Users - basic</h1>
      <table class="table table-responsive table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Admin?</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>InsDate</th>
            <th>Balance</th>
            <th>Address</th>
            <th>Picture</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userList$ | async">
            <td>{{user.id}}</td>
            <td>{{user.admin}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td>{{user.insdate}}</td>
            <td>{{user.balance}}</td>
            <td>{{user.address}}</td>
            <td>{{user.picture}}</td>
          </tr>
        </tbody>
      </table>
    </div>


    <!--Projects table-->
    <div class="col-12 my-3">
      <h1 class="text-center">Projects - basic</h1>
      <table class="table table-responsive table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>SEO</th>
            <th>Price</th>
            <th>InsDate</th>
            <th>contact</th>
            <th>Link</th>
            <th>Category</th>
            <th>Shortd</th>
            <th>Longd</th>
            <th>Picture</th>
            <th>Institution</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of projectList$ | async">
            <td>{{project.id}}</td>
            <td>{{project.title}}</td>
            <td>{{project.seo}}</td>
            <td>{{project.price}}</td>
            <td>{{project.insdate}}</td>
            <td>{{project.contact}}</td>
            <td>{{project.link}}</td>
            <td>{{project.category}}</td>
            <td>{{project.shortd}}</td>
            <td [ngStyle]="{'height': '1em'}">{{project.longd}}</td>
            <td>{{project.picture}}</td>
            <td>{{project.institution}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>