<div class="container">
  <div class="row">
    <div class="col-4 offset-4">
      <form action="http://localhost:3000/api/projects/{{project.id}}" method="post">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" name="project.title" id="title" [(ngModel)]="project.title" disabled>
        </div>
        <div class="form-group">
          <label for="seo">Seo</label>
          <input type="text" class="form-control" name="project.seo" id="seo" [(ngModel)]="project.seo" required>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="number" class="form-control" name="project.price" id="price" [(ngModel)]="project.price"
            required>
        </div>
        <div class="form-group">
          <label for="contact">Contact</label>
          <input type="text" class="form-control" id="contact" name="project.contact" [(ngModel)]="project.contact"
            required>
        </div>
        <div class="form-group">
          <label for="link">Link</label>
          <input type="text" class="form-control" id="link" name="project.link" [(ngModel)]="project.link" required>
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <input type="text" class="form-control" id="category" name="project.category" required
            [(ngModel)]="project.category">
        </div>
        <div class="form-group">
          <label for="shortd">Short description</label>
          <input type="text" class="form-control" id="shortd" name="project.shortd" [(ngModel)]="project.shortd"
            required>
        </div>
        <div class="form-group">
          <label for="longd">Long description</label>
          <input type="text" class="form-control" id="longd" name="project.longd" [(ngModel)]="project.longd" required>
        </div>
        <div class="form-group">
          <label for="picture">Picture</label>
          <input type="text" class="form-control" id="picture" name="project.picture" [(ngModel)]="project.picture"
            required>
        </div>
        <div class="form-group">
          <label for="institution">Institution</label>
          <input type="text" class="form-control" id="institution" name="project.institution" required
            [(ngModel)]="project.institution">
        </div>
        <button type="submit" class="btn btn-success" (click)="onUpdate()">Submit</button>
      </form>
    </div>
  </div>
</div>
