<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse"
       id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/"
           routerLinkActive=""
           [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/api/projects"
           routerLinkActive=""
           [routerLinkActiveOptions]="{exact: true}">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/api/categories"
           routerLinkActive=""
           [routerLinkActiveOptions]="{exact: true}">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/users"
           routerLinkActive=""
           [routerLinkActiveOptions]="{exact: true}">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/orders"
           routerLinkActive=""
           [routerLinkActiveOptions]="{exact: true}">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/basket"
           routerLinkActive=""
           [routerLinkActiveOptions]="{exact: true}">Basket</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/about"
           routerLinkActive=""
           [routerLinkActiveOptions]="{exact: true}">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/contact"
           routerLinkActive=""
           [routerLinkActiveOptions]="{exact: true}">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/dashboard"
           routerLinkActive=""
           [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
      </li>
    </ul>
  </div>
</nav>