<h2>Update User</h2>

<div *ngIf="user">
  <form (submit)="onSubmit($event)">
    <div class="form-group">
      <label for="id">ID</label>
      <input name="id"
             class="form-control"
             type="hidden"
             [(ngModel)]="user.id">
    </div>
    <div class="form-group">
      <label for="">Admin</label>
      <input name="admin"
             class="form-control"
             type="number"
             [(ngModel)]="user.admin">
    </div>
    <div class="form-group">
      <label for="">Firstname</label>
      <input name="firstname"
             class="form-control"
             type="text"
             [(ngModel)]="user.firstname">
    </div>
    <div class="form-group">
      <label for="">Lastname</label>
      <input name="lastname"
             class="form-control"
             type="text"
             [(ngModel)]="user.lastname">
    </div>
    <div class="form-group">
      <label for="">Emailaddress</label>
      <input name="emailaddress"
             class="form-control"
             type="email"
             [(ngModel)]="user.emailaddress">
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input name="password"
             type="password"
             class="form-control"
             [(ngModel)]="user.password">
    </div>
    <div class="form-group">
      <label for="">Address</label>
      <input name="address"
             type="text"
             class="form-control"
             [(ngModel)]="user.address">
    </div>
    <div class="form-group">
      <label for="">Picture</label>
      <input name="pictureurl"
             type="text"
             class="form-control"
             [(ngModel)]="user.pictureurl">
    </div>
    <button class="btn btn-primary"
            type="submit">
      Update
    </button>

  </form>
</div>
