<div class="row">
  <div class="col-10 offset-1">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Username</th>
          <th>Emailaddress</th>
          <th>Password</th>
          <th>Admin</th>
          <th>Address</th>
          <th>
            <div class="btn-group">
              <a class="btn btn-primary"
                 routerLink="/create-user">Add New User</a>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of list$ | async">
          <td>{{user.id}}</td>
          <td>{{user.firstname}}</td>
          <td>{{user.lastname}}</td>
          <td>{{user.username}}</td>
          <td>{{user.emailaddress}}</td>
          <td>{{user.password}}</td>
          <td>{{user.admin}}</td>
          <td>{{user.address}}</td>
          <td>
            <div class="btn-group">
              <a class="btn btn-info"
                 routerLink="/users/{{user.id}}">Edit</a>
              <a class="btn btn-danger"
                 (click)="onDelete(user.id)">Delete</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
