<div class="container">
  <div class="row">
    <div class="col-4 offset-4">
      <form action="http://localhost:3000/api/projects" method="post">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" placeholder="Title" class="form-control" name="project.title" id="title"
            [(ngModel)]="newProject.title" required>
        </div>
        <div class="form-group">
          <label for="seo">Seo</label>
          <input type="text" class="form-control" placeholder="Seo" name="project.seo" id="seo"
            [(ngModel)]="newProject.seo" required>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="number" class="form-control" name="project.price" id="price" [(ngModel)]="newProject.price"
            placeholder="Price" required>
        </div>
        <div class="form-group">
          <label for="contact">Contact</label>
          <input type="text" class="form-control" id="contact" name="project.contact" [(ngModel)]="newProject.contact"
            placeholder="Contact" required>
        </div>
        <div class="form-group">
          <label for="link">Link</label>
          <input type="text" class="form-control" id="link" name="project.link" [(ngModel)]="newProject.link"
            placeholder="Link" required>
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <input type="text" class="form-control" id="category" name="project.category"
            [(ngModel)]="newProject.category" placeholder="Category" required>
        </div>
        <div class="form-group">
          <label for="shortd">Short description</label>
          <input type="text" class="form-control" id="shortd" name="project.shortd" [(ngModel)]="newProject.shortd"
            placeholder="Short description" required>
        </div>
        <div class="form-group">
          <label for="longd">Long description</label>
          <input type="text" class="form-control" id="longd" name="project.longd" [(ngModel)]="newProject.longd"
            placeholder="Long description" required>
        </div>
        <div class="form-group">
          <label for="picture">Picture</label>
          <input type="text" class="form-control" id="picture" name="project.picture" [(ngModel)]="newProject.picture"
            placeholder="Picture" required>
        </div>
        <div class="form-group">
          <label for="institution">Institution</label>
          <input type="text" class="form-control" id="institution" name="project.institution"
            [(ngModel)]="newProject.institution" placeholder="Institution" required>
        </div>
        <button type="submit" class="btn btn-success" (click)="onCreate()" >Submit</button>
      </form>
    </div>
  </div>
</div>
